:root {
    --color-1: #223d58;
    --color-2: #3e6389;
    --color-3: #6e94b9;
    --color-4: #b1d1f1;
    --color-5: #1c7373;
    --color-6: #005757;
    --color-7: #b45908;
    --color-8: #ab5408;
    --color-fondo: #eaeef4;
    --color-complementario-I : #ce1d49;
    --color-complementario-II : #b81941;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-blanco: #fff;
    --color-negro: #000;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 15px 20px;
    width: 100%;
    height: auto;
    z-index: 10;
    background-color: var(--color-1);
}

header .contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contenedor .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.contenedor .logo a img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    filter: drop-shadow(0px 0px 5px var(--color-blanco));
    aspect-ratio: 16/9;
}

.contenedor .logo a p{
    margin-left: 5px;
    font-size: 1.4rem;
    color: var(--color-blanco);
    line-height: 1.5;
    font-weight: bold;
    margin: 0px 0px 0px 10px;
}

.contenedor .menu .head{
    display: none;
}

.contenedor .menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.contenedor .menu > ul > li{
    display: inline-block;
}

.contenedor .menu > ul > li:not(:last-child){
    margin-right: 15px;
}

.contenedor .menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--color-blanco);
    line-height: 1.5;
    display: block;
}

.contenedor .menu > ul > li > a{
    padding: 15px 0px;
}

.contenedor .menu ul li.dropdown{
    position: relative;
}

.contenedor .menu > ul > li.dropdown > a{
    padding-right: 15px;
}

.contenedor .menu ul .dropdown i.fa-caret-down{
    font-size: 0.8rem;
    pointer-events: none;
    user-select: none;
    position: absolute;
    color: var(--color-blanco);
    top: calc(50% - 5px);
}

.contenedor .menu > ul > li.dropdown > i.fa-caret-down{
    right: 0;
}

.contenedor .menu ul li.dropdown .submenu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 230px;
    padding: 15px 0px;
    background-color: var(--color-2);
    box-shadow: 0 0 px hsla(0, 0%, 0%, 0.5);
    z-index: 1;
    transform-origin: top;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}

.contenedor .menu ul li.dropdown .submenu a{
    padding: 6px 24px;
}

.contenedor .menu ul li.dropdown .submenu span{
    background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.5s ease;
}

.contenedor .menu ul li.dropdown .submenu li:hover > a > span{
    background-size: 100% 1px;
}

.contenedor .menu ul li.dropdown:hover > .submenu{
    opacity: 1;
    transform: none;
    visibility: visible;
    transition: all 0.5s ease;
}

.contenedor .header-rigth{
    display: flex;
}

.contenedor .header-rigth > * {
    margin-left: 15px;
}

.contenedor .header-rigth .login-btn{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--color-complementario-I);
    color: var(--color-blanco);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.contenedor .header-rigth .login-btn:hover{
    background-color: var(--color-complementario-II);
    transition: 0.2s linear;
}

.contenedor .header-rigth .logout-btn{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--color-complementario-I);
    color: var(--color-blanco);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

.contenedor .header-rigth .logout-btn:hover{
    background-color: var(--color-complementario-II);
    transition: 0.2s linear;
}

.contenedor .header-rigth .open-menu-btn{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--color-complementario-I);
    color: var(--color-blanco);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

.contenedor .header-rigth .open-menu-btn:hover{
    background-color: var(--color-complementario-II);
    transition: 0.2s linear;
}

#opciones-usuario{
    visibility: hidden;
}

#boton-mis-mascotas{
    visibility: hidden;
}

@media (max-width:1125px) {
    .contenedor .menu{
        position: fixed;
        right: 0;
        top: 0;
        width: 320px;
        height: 100%;
        background-color: var(--color-1);
        padding: 10px;
        overflow-y: auto;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .contenedor .menu.open{
        transform: none;
    }

    .contenedor .menu .head{
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 5px 0px;
    }

    .contenedor .menu .head .logo{
        display: none;
    }

    .contenedor .menu .head .close-menu-btn{
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: bolder;
        background-color: var(--color-complementario-I);
        color: var(--color-blanco);
        border: none;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
    }

    .contenedor .menu .head .close-menu-btn:hover{
        background-color: var(--color-complementario-II);
        transition: 0.2s linear;
    }

    .contenedor .menu ul{
        padding: 10px 15px;
    }

    .contenedor .menu > ul > li{
        display: block;
    }

    .contenedor .menu > ul > li:not(:last-child){
        margin-right: 0;
    }

    .contenedor .menu li{
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
    }

    .contenedor .menu li:first-child{
        border-top: 1px solid hsla(0, 0%, 100%, 0.25);
    }

    .contenedor .menu > ul > li > a{
        padding: 12px 0px;
    }

    .contenedor .menu > ul > li.dropdown > a{
        padding-right: 34px;
    }

    .contenedor .menu > ul > li.dropdown .fa-caret-down{
        height: 34px;
        width: 34px;
        border: 1px solid hsla(0, 0%, 100%, 0.25);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
        cursor: pointer;
        top: 7px;
    }

    .contenedor .menu ul li.dropdown.active > .fa-caret-down{
        background-color: hsl(0,0%, 100%, 0.25);
        transform: rotate(180deg);
    }

    .contenedor .menu ul li.dropdown .submenu{
        position: static;
        opacity: 1;
        transform: none;
        visibility: visible;
        padding: 0;
        transition: none;
        box-shadow: none;
        width: 100%;
        display: none;
        transition: 0.3s;
    }

    .contenedor .menu ul li.dropdown.active > .submenu{
        display: block;
    }

    .contenedor .menu ul li.dropdown .submenu li:last-child{
        border: none;
    }

    .contenedor .menu ul li.dropdown .submenu li a{
        padding: 12px 0px 12px 15px;
    }

    .contenedor .menu ul li.dropdown .submenu span{
        background-image: none;
    }

    .contenedor .header-rigth .open-menu-btn{
        display: block;
    }
}

@media (max-width:485px) {
    header{
        padding: 10px;
    }

    .contenedor .menu{
        width: 100%;
        padding: 10px 15px;
    }

    .contenedor .menu .head{
        justify-content: space-between;
        margin: 0px;
    }

    .contenedor .menu .head .logo{
        display: block;
    }

    .contenedor .menu .head .logo a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .contenedor .menu .head .logo a img{
        width: 50px;
        height: 50px;
        vertical-align: middle;
        filter: drop-shadow(0px 0px 5px var(--color-blanco));
        aspect-ratio: 16/9;
    }

    .contenedor .menu .head .logo a p{
        margin-left: 5px;
        font-size: 1.4rem;
        color: var(--color-blanco);
        line-height: 1.5;
        font-weight: bold;
    }

    .contenedor .menu ul{
        padding: 10px 0px;
    }
}

@media (max-width:440px) {
    .contenedor .logo a img{
        width: 35px;
        height: 35px;
    }

    .contenedor .logo a p{
        font-size: 1.2rem;
    }

    .contenedor .header-rigth > * {
        margin-left: 10px;
    }

    .contenedor .header-rigth .login-btn{
        padding: 7.5px 10px;
        font-size: 0.9rem;
        border-radius: 5px;
    }

    .contenedor .header-rigth .open-menu-btn{
        padding: 7.5px 10px;
        font-size: 0.9rem;
        border-radius: 5px;
    }

    .contenedor .header-rigth .close-menu-btn{
        padding: 7.5px 10px;
        font-size: 0.9rem;
        border-radius: 5px;
    }
}

@media (max-width:360px) {
    .contenedor .logo a img{
        width: 30px;
        height: 30px;
    }

    .contenedor .logo a p{
        font-size: 1rem;
    }

    .contenedor .header-rigth .login-btn{
        padding: 5px 7.5px;
    }

    .contenedor .header-rigth .open-menu-btn{
        padding: 5px 7.5px;
    }

    .contenedor .header-rigth .close-menu-btn{
        padding: 5px 7.5px;
    }
}